*{
    // font-family: ;
    // font-family: VT;
    font-family: 'Press Start 2P';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    // text-transform: capitalize;
    transition: all .5s ease;
    font-size: 10px;

}

html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(116,208,159,1) 0%, rgba(95,188,207,1) 100%);
}
.container{
    padding-top: 5rem;
    // position: absolute;
    // background: rgb(2,0,36);
    // background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(116,208,159,1) 0%, rgba(95,188,207,1) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header{
        display: flex;
        flex-direction: column;
        .top{
            display: flex;
            font-size: 3rem;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            .button{
                font-size: 100%;
                margin: 0;
                padding: 2rem;
                background-color: rgba(0, 0, 0, 0); 
                border-radius: 2.5rem;
                border: .3rem solid #000;
                &:hover{
                    box-shadow: 0px 0px 38px 0px rgba(255,0,0,1);
                    -webkit-box-shadow: 0px 0px 38px 0px rgba(255,0,0,1);
                    -moz-box-shadow: 0px 0px 38px 0px rgba(255,0,0,1);
                }
            }

            .between{
                font-size: 100%;
                margin: 0;
                padding: auto;
            }
        }
        .bottom{
            padding-top: 5rem ;
            text-align: center;
            align-items: center;
            font-size: 5rem;
            .guessNumber{
                font-size: 100%;
                text-transform: uppercase;
                letter-spacing: 1rem;
            }
            .number{
                font-size: 100%;
                // margin-top: 3rem;
                width: 30%;
                margin: auto;
                height: auto;
                padding: 4rem 0 1rem 0;
            }
        }
    }

    .medium{
        margin-top: 5rem;
        display: flex;
        width: 100%;
        // justify-content: space-around;
        .left{
            display: flex;
            flex-direction: column;
            font-size: 3.5rem;
            width: 50%;

            .guess{
                font-size: 100%;
                width: 60%;
                margin: auto;
                height: 10rem;
                text-align: center;
                // opacity: 0;
                background-color: rgba(0, 0, 0, 0); 
                color: rgb(245, 238, 238);
                border: solid 5px #000;
                padding: 2rem 3rem;
                border-radius: 2rem;
                margin-bottom: 10rem;
                outline: none;
                // font-size: 150%;

            }
            .check{
                height: auto;
                // border: solid 0.5rem rgba(255,0,0,1);
                font-size: 135%;
                margin: auto;
                margin-bottom: 10rem;
                border-radius: 2.5rem;
                padding: 2.5rem;

                &:hover{
                    border-radius: 3px solid rgba(255,0,0,1);
                    border-color: rgba(255,0,0,1);
                    box-shadow: 0px 0px 38px 0px rgba(255,0,0,1);
                    -webkit-box-shadow: 0px 0px 38px 0px rgba(255,0,0,1);
                    -moz-box-shadow: 0px 0px 38px 0px rgba(255,0,0,1);
                }
            }
        }

        .right{
            font-size: 3.5rem;
            font-weight: 800;
            .message{
                font-size: 100%;
                // letter-spacing: .5rem;
                font-weight: bolder;
            }
            .lable-score{
                margin: 4.1rem 0;
                font-size: 100%;
                .score{
                    font-size: 150%;
                }
            }
            .lable-highscore{
                font-size: 100%;
                .highscore{
                    font-size: 150%;
                }
            }
        }
    }

    .bottom{
        i{
            font-size: 15rem;
            color: #ddce30;
            animation-name: danger;
            animation-duration: .3s;
            // animation-delay: .1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            display: none;
            
        }
        @keyframes danger {
            0%{opacity: 100%;}
            25%{opacity: 50%;}
            50%{opacity: 0%;}
            75%{opacity: 50%;}
            100%{opacity: 100%;}

        }
    }
}